{{ define "inicio"}}
{{ template "cabecera" }}

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5</td>
                    <td>Servando</td>
                    <td>servando@neoris.com</td>
                    <td>Editar | Borrar</td>
                </tr>
            </tbody>
        </table>

{{ template "pie" }}    
{{end}}